# Configuración de PostgreSQL
POSTGRES_USER=admin_tickets
POSTGRES_PASSWORD=password_seguro123
POSTGRES_DB=tickets_db

# URL para Prisma (Backend)
DATABASE_URL="postgresql://admin_tickets:password_seguro123@db:5432/tickets_db?schema=public"

# Puerto del Backend
PORT=3000